.voteBtn {
	margin-top: auto;
	width: 100%;
	min-height: 10rem;
	background-color: var(--c-acc);
	border: none;
	border-top: 3px solid var(--c-black);

	&--text {
		font-size: 2.4rem;
		font-weight: 800;
		color: var(--c-black);
	}
}
