.expandContent {
	width: 100%;
	// flex-grow: 1;
	height: 0;
	z-index: 8;
	font-size: 5rem;
	color: white;
	overflow: hidden;

	display: none;
	flex-direction: column;
	justify-content: flex-end;
	visibility: hidden;
	position: relative;
}
