.commentForm {
	height: 5rem;
	width: 100%;
	border-top: 3px solid var(--c-black);
	display: flex;

	&__input {
		flex-grow: 1;
		height: 100%;
		padding: 0 2rem;
		border: none;
		color: var(--c-dark);

		&:focus {
			outline: none;
		}
	}

	&__submit {
		height: 100%;
		padding: 0 2rem;
		border: none;
		border-left: 3px solid var(--c-black);
		font-weight: 500;
		font-size: 1.2rem;
		background-color: var(--c-acc);
		color: var(--c-black);
		cursor: pointer;

		&:hover {
			background-color: var(--c-acc--light);
		}
	}
}
