.header {
	position: fixed;
	height: 9rem;
	width: 100%;
	border-bottom: 1px solid var(--c-dark);
	background-color: var(--c-white);
	display: flex;
	align-items: flex-end;
	z-index: 10;

	transition: top 0.8s;

	&__content {
		height: 5rem;
		width: 100%;
		margin: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&.collapse {
		top: -10rem;
	}

	&.expand {
		top: 0;
	}
}

.logoBox {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	border: 1px solid var(--c-dark);
	position: absolute;
	top: 0;
	left: 0;
	height: 9rem;
	width: 9rem;
}
