@use 'assets/styles/globalStyles' as *;

html {
	scroll-behavior: smooth;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
	box-sizing: border-box;

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}
	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px, 8/16 = 50%
	}
	@include respond(phone) {
		font-size: 43.75%; // 1rem = 7px, 7/16 = 43.75%
	}
	@include respond(big-desktop) {
		font-size: 75%; // 1rem = 12px, 12/16 = 75%
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
	color: inherit;
	line-height: 100%;
}

body {
	font-family: var(--f-family--primary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--c-dark);
	font-style: normal;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
