:root {
	--c-dark: rgb(14, 14, 14);
	--c-light: rgb(246, 246, 246);
	--c-white: rgb(255, 255, 255);

	--header-height-mobile: 10rem;
	--listItem-height-mobile: 12rem;

	--f-family--primary: 'Poppins', sans-serif, -apple-system;
}
